/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 258 94% 51%;
    --primary-foreground: 210 40% 98%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 220 14% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 280 80% 96%;
    --accent-foreground: 258 94% 30%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 258 94% 40%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 258 94% 51%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 258 94% 96%;
    --sidebar-accent-foreground: 258 94% 30%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 258 94% 40%;
  }

  .dark {
    --background: 240 6% 8%;
    --foreground: 210 40% 98%;

    --card: 240 6% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 258 94% 61%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 240 6% 14%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 6% 14%;
    --muted-foreground: 215 20% 65%;

    --accent: 280 80% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 258 94% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 258 94% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 258 94% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 258 94% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
